= render 'shared/nav_bar'
%div.jumbotron.jumbotron-fluid
    .container    
        %h1.display-4= "The Kitchen Sink"

%div.container-fluid
    %button.btn.btn-primary.btn-block{"data-toggle" => "collapse", "href" => "#newArticle"}
        New Article
    %div#newArticle.collapse
        = render :partial => "new_form"
- @article.each do |article|
    .card
        %h5.card-title= article.title
        .card-text= article.text
        - article.uploads.each do |upload|
            %div.media
                = image_tag upload.variant(resize: "150x150"), class: "mr-3"
        %div
            = link_to 'Show', article_path(article), method: :get, class: "btn btn-primary btn-sm"
            -# - if article.user_id == current_user.id
            -#     %button.btn.btn-primary{"data-toggle" => "collapse", "href" => "#editArticle"}
            -#         Edit Article
            -#     %div#editArticle.collapse
            -#         = render :partial => "edit_form", :locals => { article: article.id }
                = link_to 'Edit', edit_article_path(article), class: "btn btn-primary btn-sm", :locals => { article: article.id }
                = link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm"
            %hr      
%div
    = link_to 'Log Out', logout_path, class: "btn btn-primary"