%div.jumbotron
    %h1.display-4= @article.title
    %p.lead= @article.text
    - @article.uploads.each do |upload|
        - if upload.variable?
            = link_to image_tag(upload.variant(resize: "400x400")), upload
            = link_to 'Remove', delete_upload_article_path(@article, upload.id), method: :delete
           
    %hr.my-4
    %div.container
        %div.col-sm
            %strong= "Posted by: "
            %strong= link_to @article.user.email, user_path(@article.user_id)
            %small=" @ "
            %small=@article.updated_at
            - if @article.updated_at != @article.created_at
                %small.badge.badge-dark=" Edited "
        - if current_user.id != @article.user_id
            %div.btn.btn-outline-primary.btn-sm= link_to 'Like', user_article_likes_path(current_user.id, @article), method: :post

%div.container
    %h4.alert.alert-primary= "Comments"
    %div= render @article.comments

%div.container
    %h2.alert.alert-primary= "Add a comment"
    = render 'comments/form'

%div
    - if current_user.id == @article.user_id
        = link_to 'Edit', edit_article_path(@article)
    = link_to 'Back', articles_path, :class => 'btn btn-outline-primary', :id => 'back-btn'
    = link_to 'Log Out', logout_path , :class => 'btn btn-outline-primary', :id => 'logout-btn'