<p>
    <h1>Profile View</h1>
    <strong>User</strong>
    <%= @user.email %><br>
    <strong>User ID: </strong><%= @user.id %>

<%= render :partial => "articles" %>

<%= render :partial => "comments" %>

<%= render :partial => "likes" %>

<p>
    <%= link_to 'Back to articles', articles_path, method: :get %>
</p>