<p>
    <h1>Profile View</h1>
    <strong>User</strong>
    <%= @user.email %><br>
</p>
<h3>Articles: </h3>
<div>
    <% @article.each do |article| %>
        <div>
            <strong>Articles</strong> 
            <%= article.title %>
        </div>
        <div>
            <p><%= article.text %></p>
        </div>
    <% end %>
</div>

<h3>Comments: </h3>
<% @comments.each do |comment|%>
<p>
    <strong>Title:</strong>
    <%= comment.commenter %><br>
</p>

<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>
<% end %>

<p>
    <%= link_to 'Back to articles', articles_path %>
</p>