<p>
    <h1>Profile View</h1>
    <strong>User</strong>
    <%= @user.email %><br>
</p>

<%= render :partial => "articles" %>

<%= render :partial => "comments"%>

<div>
    <strong>Likes</strong>
    <% @likes.each do |like| %>
    <div>
        <%=link_to @article.find_by(id: like.article_id).title, articles_path(like.article.id) %>
    </div>
    <% end %>
</div>

<p>
    <%= link_to 'Back to articles', articles_path, method: :post %>
</p>