<p>
    <h1>Profile View</h1>
    <strong>User</strong>
    <%= @user.email %><br>
</p>

<%= render :partial => "articles" %>

<%= render :partial => "comments" %>

<%= render :partial => "likes" %>

<%= @user.id %>
<%= @session %>
<p>
    <%= link_to 'Back to articles', articles_path, method: :get %>
</p>