%h1="Upload Photo"

= form_with @photo, html: { multipart: true } do |f|
    - if @photo.errors.any?
        %div#error_explanation
            ="#{= pluralize(@photo.errors.count, "error")} Prohibited this photo from saved:"
        - @photo.errors.full_messages.each do |error|
            %li
                = error

    %div.form-group
        = f.label :title
        = text_field :title, class: 'form-control'
    %div.form-group
        = f.label :image
        = f. file_field :image, class: 'form-control'

    %div.form-group
        = f.submit 'Upload Photo', class: 'btn btn-default'